body{
    background-color: rgb(24, 24, 28);
    font-family: 'Montserrat', sans-serif;
}
.mainnav{
    background-color: rgb(12, 12, 12);
    z-index: 1;
 
}

a:hover{
    color:rgb(228, 147, 17) !important;
    border-bottom: 1px solid rgb(180, 101, 101);
}

.myimg:hover{
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
    }


    #content, #content1, #content2{
    
    padding-top: 0;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    max-height: 183px;
    overflow: hidden;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#content.open{
    max-height: 1000px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}




#content1.open{
    max-height: 1300px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}




#content2.open{
    max-height: 2500px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}


#show-more, #show-more1, #show-more2{
    margin-top: 20px;
}

.mcard{
    min-height: 240px;
}

.micon{
    font-size: 1.5rem;
}

.micon:hover{
    cursor: pointer;
    color: rgb(228, 147, 17);
}

.divider{
    background-color: rgb(24, 24, 28);
}

.mainfooter{
    background-color: rgb(51, 51, 55)!important;
    padding: 20px;
}